<div class="relative h-[100vh] ">
        <p class="flex justify-center text-base font-bold md:text-5xl pt-8">Skills</p>


        <div class="absolute flex flex-wrap w-1/2 items-center justify-between top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 ">
            <fa-icon [icon]="faHtml" class="text-8xl cursor-pointer"></fa-icon>
            <fa-icon [icon]="fatCss" class="text-8xl cursor-pointer"></fa-icon>
            <fa-icon [icon]="faJs" class="text-8xl cursor-pointer "></fa-icon>
            <fa-icon [icon]="faAngular" class="text-8xl cursor-pointer "></fa-icon>
            <fa-icon [icon]="faGitHub" class="text-8xl cursor-pointer"></fa-icon>
            <fa-icon [icon]="faJava" class="text-8xl cursor-pointer "></fa-icon>
            <fa-icon [icon]="faPhp" class="text-8xl cursor-pointer "></fa-icon>
        </div>

</div>