<!-- Container general banner -->
<div class="relative h-[100vh] flex flex-col items-center justify-center space-y-6">

    <!-- Name -->
    <div>
        <p class="font-extrabold text-5xl">Salvador Vera Sánchez</p>
    </div>

    <!-- About me general -->
    <div class="w-1/2">
        <section class="font-bold line-clamp-1 text-black">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo perferendis asperiores dolorum? Blanditiis, debitis mollitia laboriosam eos ratione cumque, vitae accusamus laborum architecto rem quo nisi corporis sunt est dignissimos.
        </section>
    </div>

    <!-- Icons social media -->
    <div class="w-fit flex flex-row justify-center gap-32">
        <p>Icon</p>
        <p>Icon</p>
        <p>Icon</p>
        <p>Icon</p>
    </div>
</div>

