<!-- Container general banner -->
<div class="relative h-[100vh] flex flex-col items-center justify-center space-y-10">

    <!-- Name -->
    <div>
        <p class="font-extrabold text-center text-5xl">/////////////</p>
    </div>

    <!-- About me general -->
    <div>
        <section class="font-mono text-center text-base text-black md:text-3xl">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam ut laudantium! Id laborum, cupiditate nisi qui nesciunt totam deleniti corporis commodi excepturi architecto? Consequuntur nobis tempore libero consectetur ab?
        </section>
    </div>

    <div class="h-16 flex flex-row justify-center gap-32">
        <fa-icon [icon]="faGithub" class="text-5xl cursor-pointer hover:text-6xl"></fa-icon>
        <fa-icon [icon]="faGithub" class="text-5xl cursor-pointer hover:text-6xl"></fa-icon>
        <!-- <fa-icon [icon]="faGithub" class="text-5xl cursor-pointer hover:text-6xl"></fa-icon> -->
        <!-- <fa-icon [icon]="faGithub" class="text-5xl cursor-pointer hover:text-6xl"></fa-icon> -->
    </div>

</div>

