<!-- Contenedor relativo -->
<div class="relative h-[100vh]">
    <p class="flex justify-center text-base font-bold md:text-5xl pt-8">About me</p>
    <!-- Contenedor de la izquierda -->
    <div class="absolute left-0 w-1/2 h-full flex items-center justify-center ">
        <div>
            <img src="https://png.pngtree.com/png-vector/20220817/ourmid/pngtree-cartoon-man-avatar-vector-ilustration-png-image_6111064.png" alt="Imagen">
        </div>
    </div>
    
    <!-- Contenedor de la derecha -->
    <div class="absolute right-0 w-1/2 h-full flex items-center px-10">
        <div class=" bg-gray-200 text-pretty text-base font-semibold font-sans  md:text-3xl">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa, repellendus esse maiores ea modi aperiam commodi accusamus voluptates distinctio vel eaque,
            </p>
        </div>
    </div>
</div>

