.custom-banner{
    opacity: 0;
    animation: custom-banner 1.2s ease-out forwards;
}

@keyframes custom-banner{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
    
    
